<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
      {# <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}"> #}
    {% set css %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    <!-- Import Parcel generated CSS -->
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <a href="{{ '/' | url }}">{{ metadata.title }}</a>
      <ul class="nav">
        {% for navitem in metadata.navItems %}
          <li class="nav-item{% if navitem.navItemUrl.linkUrl == page.url %} nav-item-active{% endif %}">
            <a href="{{ navitem.navItemUrl.linkUrl | url }}">{{ navitem.text }}</a>
          </li>
        {% endfor %} 
      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
     <ul class="nav">
        {% for navitem in metadata.navItems %}
          <li class="nav-item{% if navitem.navItemUrl.linkUrl == page.url %} nav-item-active{% endif %}">
            <a href="{{ navitem.navItemUrl.linkUrl | url }}">{{ navitem.text }}</a>
          </li>
        {% endfor %} 
      </ul>
      {% if metadata.socialLinks %}
        <ul>
        {% set facebook = metadata.socialLinks.facebook %}
        {% set instagram = metadata.socialLinks.instagram %}
        {% set linkedin = metadata.socialLinks.linkedIn %}
        {% set twitter = metadata.socialLinks.twitter %}
        {% if facebook %}
          <li><a href="{{ facebook }}" target="_blank" rel="noopener noreferrer">Facebook</a></li>
        {% endif %}
        {% if instagram %}
          <li><a href="{{ instagram }}" target="_blank" rel="noopener noreferrer">Instagram</a></li>
        {% endif %}
        {% if linkedin %}
          <li><a href="{{ linkedin }}" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
        {% endif %}
        {% if twitter %}
          <li><a href="{{ twitter }}" target="_blank" rel="noopener noreferrer">Twitter</a></li>
        {% endif %}
        </ul>
      {% endif %}

      <p><em>This is an <a href="https://www.11ty.io/">Eleventy</a> + <a href="https://www.sanity.io">Sanity.io</a> project inspired by the <a href="https://github.com/11ty/eleventy-base-blog"><code>eleventy-base-blog</code> repo</a>.</em></p>
      <p>&copy; <span id="year">2020</span> {{ metadata.title }}</p> 
    </footer>

    <!-- Import Parcel generated JS -->
    <script src="/index.js"></script>
  </body>
</html>
