---
layout: layouts/base.njk
templateClass: tmpl-home
---

<article>
  <h1>{{ home.headline }}</h1>

  {% for section in home.sections %}
    {% assign sectionType = section._type %}
    {% if section and sectionType %}
      {% case sectionType %}
        {% when 'video' %}
          {% include 'components/video', section: section %}
        {% when 'teamGrid' %}
          {% include 'components/teamgrid', section: section %}
        {% when 'pageBuilderBodyText' %}
          {% comment %} {% include 'components/bodytext', section: section %} {% endcomment %}
          {% if section and section.body %}
            <div>
              {% blockToHtml section.body %}
            </div>
          {% endif %}
        {% when 'mainImage' %}
          {% include 'components/mainimage', section: section %}
        {% when 'quote' %}
          {% include 'components/quote', section: section %}
        {% when 'gallery' %}
          {% include 'components/gallery', section: section %}
        {% when 'postGrid' %}
          {% include 'components/postgrid', section: section %}
        {% when 'projectSlider' %}
          {% include 'components/projectslider', section: section %}
        {% when 'textCarousel' %}
          {% include 'components/textcarousel', section: section %}
      {% endcase %}
    {% endif %}

  {% endfor %}

</article>