---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article>
  <h1>{{ post.title }}</h1>

  <img src="{%  imageUrlFor post.mainImage, 900  %}" alt="{{ post.mainImage.alt }}">

  <p>Written by 
  {% for author in post.authors %}
  <a href="/authors/{{ author.slug.current | slug }}/">
    {{ author.name }}
     <img src="{%  imageUrlFor author.image, 96  %}" alt="{{ author.image.alt }}">
  </a>
  {% endfor %}
  </p>


  {{ post.body | markdownify | safe }}
  
  <p><a href="{{ '/' | url }}">← Home</a></p>
</article>
