---
layout: layouts/category
tags:
  - myCategories
pagination:
  alias: category
  data: categories
  size: 1
  addAllPagesToCollections: true
permalink: categories/{{ category.slug.current | slug }}/index.html
---


