---
layout: layouts/home.njk
tags:
  - nav
navtitle: Contact
---


{% for page in pages %}
  <h1>{{ page.title }}</h1>
  <time>{{ page.publishedAt }}</time>

  {% for section in page.sections %}
    {% assign sectionType = section._type %}
    {% if section and sectionType %}
      {% case sectionType %}
        {% when 'video' %}
          {% include 'components/video', section: section %}
        {% when 'teamGrid' %}
          {% include 'components/teamgrid', section: section %}
        {% when 'pageBuilderBodyText' %}
          {% include 'components/bodyText', section: section %}
      {% endcase %}
    {% endif %}
  {% endfor %}
{% endfor %}